<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>679527840454-ttkl58vfu51rh61s2ri15entkhvge430.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679527840454-ttkl58vfu51rh61s2ri15entkhvge430</string>
	<key>API_KEY</key>
	<string>AIzaSyDYrcuc9ifVC-jbI7q0PkfWkM6z-6hZvNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>679527840454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woakley.MDBSocials</string>
	<key>PROJECT_ID</key>
	<string>mdbsocials2-5cd13</string>
	<key>STORAGE_BUCKET</key>
	<string>mdbsocials2-5cd13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679527840454:ios:cecc46324c64c48d</string>
	<key>DATABASE_URL</key>
	<string>https://mdbsocials2-5cd13.firebaseio.com</string>
</dict>
</plist>